/* input[type="text"] {
    border: 1px solid blue;
} */

input[class="form-control"]:focus {
    border: 1px solid #716dd4;
    outline: none;
    /* box-shadow: 0 0 10px #09D7DF; */
}

input[class="form-control"] {
    border-radius: 30px;
    display: inline-block;
    /* box-shadow: 0 0 10px #09D7DF; */
}

textarea[class="form-control"]:focus {
    border: 1px solid #716dd4;
    outline: none;
    /* box-shadow: 0 0 10px #09D7DF; */
}

select[class="form-select"]:focus {
    border: 1px solid #716dd4;
    outline: none;
}

button[type="submit"] {
    background-color: #09D7DF;
    border-color: #716dd4;
    border-radius: 30px;
}

button[type="submit"]:hover {
    background-color: #4a44e4;
    border-color: #716dd4;
}

button[type="submit"]:focus {
    background-color: #4a44e4;
    border-color: #716dd4;
}